:root{
--btn-w: 210px;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #FBE4FF;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*HEADER*/

.header{
    background-color: #243B93;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo{
    height: 50px;
}

.menu{
    display: flex;
    margin: 0 70px;
    align-items: center;
}

.menu li {
    list-style: none;
    width: 170px;
    text-align: center;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*H2*/

.book-house{
    height: 85px;
    background-color: #BFF0FF;
    align-items: center;
    display: flex;
}

h2{
    margin: 0;
    color: #202846;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
    width: 70%;
    padding: 0 15%;
}


/*Page*/

.pagesize{
    width: 70%;
    align-items: center;
    margin: 0 auto;
    padding-top: 27px;
}

/*LOCATION*/

.location{
    height: 57px;
    background-color: #fff;
    display: flex;
    align-items: center;

}

.location p{
    margin: 0 auto;
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
}

.location svg{
    margin-right: 15px;
}

/*Bakota*/

.card{
    background: linear-gradient( 130deg, #ADCBD4, #00AEE5);
    display: flex;
    height: 300px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;
}

.card h3{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #fff;
    height: 50px;
    margin: 0 auto;
    color: #353C57;
}

.content {
    width: 90%;
    margin-left: 30px;
    padding-top: 10px;
}

.desc{
    height: 205px;
    background-color: #EDFBFF;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #202846;
    font-size: 22px;
    padding: 15px;
}

.card img{
    height: 250px;
    padding-top: 25px;
}

.btn{
    position: absolute;
    top: 240px;
    left: 87%;
    width: var(--btn-w);
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding-top: 5px;
    box-sizing: border-box;

}

.card svg{
    position: absolute;
    top: 5px;
    left: 96%;
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 6px 6px 60px 0px #2CBDEB;
    
}

.card:hover .btn{
    background-color: #EF075B;
}

.card:hover svg > path{
    fill: #FFF500;
}

/*ARROW*/

.arrow{
    background-color: rgba(48, 12, 106, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 87%;
    left: 83%;
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
}


/*PERSONAL_ACCOUNT*/

.per-acc{
    width: 100%;
    height: 85px;
    background: linear-gradient( 90deg, #FFE601, #55D6FF);
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.acc{
    background: linear-gradient( 180deg, #859EFF, rgba(105, 255, 210, 0.5));
    display: flex;
    height: 500px;
    box-sizing: border-box;
    padding: 4%;
    position: relative;
    overflow: hidden;

}

.info{
    text-decoration: none;
    list-style: none;
    color: #353C57;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    width: 70%;
}

.info span{
    font-weight:400;
    margin-left: 10px;
}

.info li{
    border-bottom: 2px solid #fff;
    height: 80px;
    align-items: center;
    display: flex;
    width: 100%;
 }

 .acc .ava .btn{
    position: unset;
    width: calc( var(--btn-w) * 1.14);
    
 }
 .acc .ava{
    margin: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 .btn:hover{
    background-color: #EF075B;
}

.out .btn{
    position: unset;
}

.out {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/*FOOTER*/

.contacts{
    width: 100%;
    height: 85px;
    background: linear-gradient( 270deg, #FFE601, #55D6FF);
    display: flex;
    align-items: center;
    margin-top: 40px; 
}

.cont-inf .tel{
    width: 250px;
    font-size: 30px;
    font-weight: 400;
}

.cont-inf .adr{
    width: 390px;
    font-size: 30px;
    font-weight: 400;
}

.gmail{
    width: 265px;
    font-size: 30px;
    font-weight: 400;
}

.h-info{
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    border-bottom: 3px solid #202846;
}

.map{
    height: 290px;
    width: 500px;
    border-radius: 40px;
    border: 3px solid #243B93;
}

.map iframe{
    width: 500px;
    height: 290px;
    border-radius: 40px;
    border: 3px solid #243B93;;
}

.contacts-info{
    display: flex ;
    justify-content: space-between;
    margin:  0 auto;
    width: 70%;
    padding: 25px 0;
    box-sizing: border-box;
}

.end{
    height: 65px;
    background-color: #243B93;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.text{
    width: 70%;
    padding: 0 15%;

}



